@media  screen and (max-width: 1024px){
    
}
@media  screen and (max-width: 320px){
    .footer-menu{
        display: none;
    }
    .inf {
        margin: 40px 0 0 65px;
    }
    .nets {
        margin: 50px 0 40px 0;
    }
    .last {
        margin-bottom: 0;
    }
    .block-new a {
        margin-bottom: 30px;
    }
    .number {
        margin: 0 14px;
    }
    .search-text {
        width: 290px;
    }
    .title-news {
        font-size: 30px;
        margin: 40px auto 30px auto;
    }
    .adventages h1 {
        margin: 40px auto 30px auto;
        font-size: 30px;
    }
    .adv p {
        font-size: 17px;
        margin: 14px 0 30px 0;
    }
    .logo img{
        width: 133px;
    }
    .logo {
        margin: 10px auto;
    }
    .b2-text h1 {
        margin: 0 auto 20px auto;
        font-size: 30px;
    }
    .b2-text-cont {
        width: 320px;
    }
    .b2-text {
        margin: -620px 0;
    }
    .b2-text1-p {
        width: 290px;
    }
    .b2-text1 img {
        display: none;
    }
    .b2-text2{
        display: none;
    }
    .new2{
        display: none;
    }
    .new3{
        display: none;
    }
    .new4{
        display: none;
    }
    .car-ind .active {
        width: 75px;
        height: 31px;
        margin-right: 5px;
    }
    .car-ind li{
        width: 75px;
        height: 31px;
        margin-right: 5px;
    }
    .car-ind {
        margin-left: -73%;
        font-size: 13px;
    }
    .car-ind .active p {
        margin-top: 1px;
    }
    .carousel-control{
        display: none;
    }
    .car-ind p {
        margin-top: 14px;
    }
    .con {
        width: 320px;
    }

}